/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
font-family: 'Quicksand', sans-serif;
    
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*custom style*/
/*header*/
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}
.nav a , button{
    margin-left: 12px;
    text-decoration: none;
    color: #2D2641;
}
.nav button{
    padding: 12px;
    background-color: white;
    border-radius: 4px;
}
.header{
    padding: 12px 0;
}
.pro{
    font-size: 24px;
    color: #2D2641;
    font-weight: 800;
    font-family: "DM Serif Display", serif;
}
/*section first*/
.section1{
    background-color: #2D2641;
    height: 80vh;
}

    
.firstheading{
    font-size: 44px;
    color: white;
    font-weight: 500;
    font-family: "DM Serif Display", serif;
    margin-bottom: 40px;
}
.left{
    width: 48%;
}

.left hr{
    max-width: 118px;
    margin-right: 358px;
    border: solid 1px white;
    margin-bottom: 50px;
}
.left button{
   margin-bottom: 32px;
   background-color: #2D2641;
   border: solid 0.5px white;
   
   color: rgb(255, 255, 255);
   padding: 8px;
   font-weight: 600;
  
}
.left p{
    color: white;
    font-family: "Karla", serif;
    font-weight: 300;
    margin-bottom: 50px;
}
.right{
    width: 48%;
}
.right img{
    margin-top: 78px;
    width: 100%;
}
.section2{
    margin-top: 164px;
}
.secondpara{
    width: 48%;
}
.secondpara p{
    color:#2D2641;
}
.secondpic{
    width: 48%;
}
.secondpic img {
    width: 100%;
}
.newheading{
    color: #2D2641;
}
.secondpara button{
    background-color: white;
    color: #2D2641;
    border: 1px solid #2D2641;
}
/*section three*/
.section3{
    max-width: 1000px;
    margin: 0 auto;
}


.section3 hr{
    max-width: 118px;
    margin-right: 878px;
    border:solid 1px #2D2641;
    margin-bottom: 15px;
    margin-top: 60px;
    
    
    
}
.col {
    width: 30%;
}
.col a{
    display: inline-block;
    width: 50px;
    height:50px;
    border-radius: 50%;
    background-color: #8AB4F0;
    text-decoration: none;  
    color: #939699;
    font-size: 26px;
}
i{
    margin-left: 12px;
    margin-top: 12px;
}
/* col i{
    background-color: silver;
    font-size: 24px;
} */

.col h5{
    font-size: 24px;
    font-family: "DM Serif Display", serif;
    color: #2D2641;
    margin: 12px 0;
    text-transform: capitalize;

}
.col p{
    font-size: 18px;
    color: #2D2641;
    font-family: "Karla", serif;
    font-weight: 300;
}
.ourwork{
    background-color: #2D2641;
    margin-top: 30PX;
    margin-bottom: 30px;

}
.our{
    width: 40%;
}
.our h6{
    font-size: 34px;
    font-family: "DM Serif Display", serif;
    color: white;
    font-weight: 600;
    padding: 42PX;

}
.our button{
    align-self: flex-end;
    border: solid 1px white;
    color: white;
    background-color: #2D2641;
    font-weight: 400;
    padding: 20PX;
    margin-left: 200px;
    
    
}

.galarylogo a{
	color: #6A6971;
	text-decoration: none;
	
	font-size: 24px;
	margin-left: 18px;
	
}
hr{
    max-width: 1000px;
    margin:  0 auto;
    border: solid 1px rgb(87, 81, 81);

}
.lastnav{
    text-align: center;
    padding: 24px;
   
} 
.lastnav a{
    padding: 24px;
    color:  #2D2641;
    font-size: 14px;
    text-decoration: none;
}
.footer{
    background-color:  #2D2641;
    text-align: center;

}
.footer p{
    font-size: 15px;
    color: snow;
    font-weight: 200;
    padding: 18px;

}